<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>AngularJs Learning</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="all.js"></script>
    <style>
        input.ng-invalid {
            background-color: red;
        }
    </style>
</head>
<body>
<div ng-app="myApp">
    <form ng-controller="1stController" name="myForm">
        <p>
            Employee Email Address: <input type="email" name="myEmailAddress" ng-model="myEmailModel" required autofocus />
        </p>
        <p style="color: red;">
            <span ng-show="myForm.myEmailAddress.$error.email">Not a valid email address</span>
            <span ng-show="myForm.myEmailAddress.$error.required">Email address is required</span>
        </p>
        <p>
            Employee First Name: <input type="text" name="firstName" ng-model="firstName" />
        </p>
        <p>
            Employee Last Name: <input type="text" name="lastName" ng-model="lastName" />
        </p>
        <p>
            Salary: <input type="text" name="salary" ng-model="empSalary" />
        </p>
        <p>
            <h1>Status</h1>
            <p>myForm.myEmailAddress.$valid : {{ myForm.myEmailAddress.$valid }}</p>
            <p>myForm.myEmailAddress.$dirty : {{ myForm.myEmailAddress.$dirty }}</p>
            <p>myForm.myEmailAddress.$touched : {{ myForm.myEmailAddress.$touched }}</p>
        </p>
        
        <p>The employee email is <span ng-bind="myEmailModel" ng-click="updateEmailAddress()"></span></p>
        <p> The employee full name is {{ fullName(firstName, lastName) }}</p>
        <p> The employee salary is {{ empSalary | currency }}</p>
    </form>
    <div>Global firstName is {{ firstName }}</div>
</div>
</body>
</html>